<!doctype html>
<html>
<head>
    <title>Ratings</title>
</head>

<body>
    <navbar>
        {% if not "user_id" in session %}
        <a href='/login-form'>Login</a>
        
        {% else %}
        {# if logged in, show profile page link #}
        <a href="/users/{{ session['user_id'] }}">Profile</a>
        <a href='/logout'>Logout</a>
        
        {% endif %}
    </navbar>
    <ul>
        {% for message in get_flashed_messages() %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>

    {% block content %} 
        put your content here
    {% endblock %}

<!--     {% block other_content %}
        more content!
    {% endblock %} -->

    <footer></footer>

</body>
</html>