{% extends 'base.html' %}
{% block content %}

    <h2>{{ movie.movie_title }}</h2>
    <ul>
        <li>Release Date: {{ movie.release_date }}</li>
        <li>IMDb Page: <a href="{{ movie.imdb_url }}">{{ movie.imdb_url }}</a></li>
    </ul>
    <div>
        {# if logged in, allow user to enter/edit rating #}
        {% if "user_id" in session %}
        <form action="add-rating" id="user-rating" method="POST">
            <label>
                Rate this movie:
                <select name="user-rating">
                    <option value="1">1 - AWFUL!</option>
                    <option value="2">2 - Not into it.</option>
                    <option value="3">3 - Meh.</option>
                    <option value="4">4 - Cool.</option>
                    <option value="5">5 - SO AMAZED!</option>
                </select>
                <input type="hidden" name="movie-id" value="{{movie.movie_id}}">
            </label>
            <input type="submit">
        </form>
        <div id="successful-update">
        </div>

    <script>
    // event handler
    $("#user-rating").on("submit", updateRatings);

    // update database (request to server at route /add-rating)
    function updateRatings(evt) {
        evt.preventDefault
        $.post("/add-rating");
        // displaySuccess();
    }

    // function displaySuccess() {
    //     $("#successful-update").html("Updated successfully!");
    // }

    </script>       



        {% endif %}
        {# TODO: show their current rating at top? #}
  

    </div>    
    <!-- TODO: if someone is logged in, allow them to add or edit their rating -->
    <h2>Ratings By User</h2>
    <p> Average rating: {{ average }}</p>
    {% if prediction %}
        <p>We predict you will rate this movie {{ prediction }}. </p>
    {% endif %}
    <ul>
        <!-- TODO: show logged in user's rating at top -->
        
        <!-- update variable names after creating tuple -->
        {% for rating in ratings %}
            {# username = rating[0], user_id = rating[1], score = rating[2] #}
            {% if rating[0] is not none %}
            <li>User Email: {{ rating[0] }} Score: {{ rating[2] }}</li>
            {% else %}
            <li>User Id: {{ rating[1] }} Score: {{ rating[2] }}</li>
            {% endif%}
        {% endfor %}
    </ul>

{% endblock %}
        