{% extends 'base.html' %}
{% block content %}

    {% if user.email is not none %}
    <h2>User: {{ user.email }}</h2>
    {% else %}
    <h2>User: {{ user.user_id}}</h2>
    {% endif %}
    <ul>
        <li>Age: {{ user.age }}</li>
        <li>Zipcode: {{ user.zipcode }}</li>
    </ul>

    {% if user.email is not none %}
    <h2>Movies rated by {{ user.email }}</h2>
    {% else %}
    <h2>Movies rated by User {{ user.user_id }}</h2>
    {% endif %}

    <ul>
        <!-- update variable names after creating tuple -->
        {% for movie in movies %} 
            <li>{{movie.movie_title}} {{movie.score}}</li>
        {% endfor %}
    </ul>

{% endblock %}

